<h2 class="form-h2">Login</h2>
<div class="container">  
  <form action="/login" method="POST" id="form-container" class="login">
    <div class="form-group">
      <label for="username">Usuario</label>
      <input id="username" type="text" class="form-control" name="username" placeholder="Usuario">
      </div>
    <div class="form-group">
      <label for="password">Contraseña</label>
      <input id="password" type="password" class="form-control" name="password" placeholder="Contraseña">
    </div>
    <div class="form-group">
      {{#if message }}
        <div class="error-message">{{ message }}</div>
      {{/if}}
    </div>
    <div class="form-group">
      <button type="submit" class="but form-control">Login</button>
    </div>
    <p class="account-message smalltext">
      Aun no tienes una cuenta?
      <a href="/signup">Crea una cuenta</a>
    </p>
  </form>
  <div class="icons">
    <img src="/images/006-wash.png" alt="icon">
    <img src="/images/017-iron.png" class="icn-middle" alt="icon">
    <img src="/images/016-mop.png" alt="icon">
  </div>
</div>