<h2>Crear cuenta</h2>

<form action="/signup" method="POST" id="form-container">
  <label for="username">Usuario</label>
  <input id="username" type="text" name="username" placeholder="Usuario">

  <br><br>

  <label for="name">Nombre</label>
  <input id="name" type="text" name="name" placeholder="Nombre">

  <br><br>

  <label for="email">Email</label>
  <input id="email" type="email" name="email" placeholder="Email">
  <br><br>

  <label for="password">Contraseña</label>
  <input id="password" type="password" name="password" placeholder="Contraseña">

<br><br>
  <label><input type="checkbox" name="isToc" value="value"> Eres un TOC'leaner?</label>
  <br>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button>Crea una cuenta</button>

  <p class="account-message">
    Ya tienes una cuenta?
    <a href="/login">Login</a>
  </p>
</form>
