<h2 class="form-h2">Crear cuenta</h2>

<div class="container">
  <form action="/signup" method="POST" id="form-container" class="signup">
    <div class="form-group">
      <label for="username">Usuario</label>
      <input id="username" type="text" class="form-control" name="username" placeholder="Usuario">
    </div>
    <div class="form-group">
    <label for="name">Nombre</label>
      <input id="name" type="text" name="name" class="form-control" placeholder="Nombre">
    </div>
    <div class="form-group">

      <label for="email">Email</label>
      <input id="email" type="email" name="email" class="form-control" placeholder="Email">
    </div>
    <div class="form-group">

      <label for="password">Contraseña</label>
      <input id="password" type="password" name="password" class="form-control" placeholder="Contraseña" value="">
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="radio" id="gridCheck" name="isToc" value="value">
        <label class="form-check-label paragraph" for="gridCheck">
          Eres un TOC'leaner?
        </label>
      </div>

    </div>
    <div class="form-group">
      {{#if message }}
      <div class="error-message">{{ message }}</div>
      {{/if}}

    </div>
    <div class="form-group">
      <button type="submit" class="but form-control">Crea una cuenta</button>
    </div>
    <div class="form-group">
      <p class="account-message smalltext">
        Ya tienes una cuenta?
        <a href="/login">Login</a>
      </p>
    </div>
  </form>

</div>