

<h3>Nuestra historia</h3>
<div class="container top-cont">
<div class="hero">
  <h2>Somos Anna & Paula</h2>
</div>

</div>
 <div class="about-img">
    <img type="hidden" src="/images/PaulaAnna.png" alt="Sala de estar">
  </div>

<div class="text">
  <p>Github</p>
</div>
</div>
