

<h3>Nuestra historia</h3>
<div class="container top-cont">
<div>
  <h2>Anna & Paula</h2>
 
</div>
</div>
 <div class="about-img">
    <img type="hidden" src="/images/PaulaAnna.png" alt="Sala de estar">
  </div>

<div class="text">
  <p>Github</p>
</div>
