<div class="index">
<h1 class="welcome text-center">Bienvenida a Toctoc</h1>
<div class="container flexy">
  <div class="hero">
    <h2> la app que hace de un trastorno una virtud y de una pocilga un dulce hogar</h2>
  </div>
  <div class="hero-img">
    <img src="/images/room.png" alt="Sala de estar">
  </div>
</div>
</div>