<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
    <ul>
      {{#if user}}
      {{!-- <li> <a href="/launderers"> Find a Launderer </a> </li> --}}
      <li><a href="/cleaners">Schedule a service</a> </li>
      <li> <a href="/logout"> Log Out </a> </li>
      {{else}}
      <li> <a href="/signup"> Crea una cuenta </a> </li>
      <li> <a href="/login"> Log In </a> </li>
      {{/if}}
    </ul>
  </nav>

    {{{body}}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>
