<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800,900" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
    <ul>
      {{#if user}}
      <li><a href="/cleaners">Schedule a service</a> </li>
      <li> <a href="/logout">Log Out </a> </li>
      {{else}}
      <li> <a href="/signup">Crea una cuenta</a> </li>
      <li> <a href="/login"> Log In </a> </li>
      {{/if}}
    </ul>
  </nav>

    {{{body}}}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyClr_fVK41OBJxuab_HEI3I30pcijqHB7E"></script>
    <script src="/javascripts/jquery.geocomplete.js"></script>
    <script src='/javascripts/script.js'></script>
  </body>
</html>
