<form id="rating" method="post" action="/rates">
  <fieldset class="rating">
    <legend>Rapidez:</legend>
    <input name="rating" type="radio" id="rating5" value="5" on="change:rating.submit" />
    <label for="rating5" title="5 stars">☆</label>

    <input name="rating" type="radio" id="rating4" value="4" on="change:rating.submit" />
    <label for="rating4" title="4 stars">☆</label>

    <input name="rating" type="radio" id="rating3" value="3" on="change:rating.submit" />
    <label for="rating3" title="3 stars">☆</label>

    <input name="rating" type="radio" id="rating2" value="2" on="change:rating.submit" checked="checked"/>
    <label for="rating2" title="2 stars">☆</label>

    <input name="rating" type="radio" id="rating1" value="1" on="change:rating.submit"/>
    <label for="rating1" title="1 stars">☆</label>
  </fieldset>
  <fieldset class="rating">
    <legend>Satisfacción:</legend>
    <input name="rating1" type="radio" id="rating5" value="5" on="change:rating.submit"/>
    <label for="rating5" title="5 stars">☆</label>

    <input name="rating" type="radio" id="rating4" value="4" on="change:rating.submit"/>
    <label for="rating4" title="4 stars">☆</label>

    <input name="rating" type="radio" id="rating3" value="3" on="change:rating.submit"/>
    <label for="rating3" title="3 stars">☆</label>

    <input name="rating" type="radio" id="rating2" value="2" on="change:rating.submit"/>
    <label for="rating2" title="2 stars">☆</label>

    <input name="rating" type="radio" id="rating1" value="1" on="change:rating.submit" checked="checked"/>
    <label for="rating1" title="1 stars">☆</label>
  </fieldset>
  <label for=""></label>
  <input type="radio" name="recommend" value="yes" cheacked="checked"> YES<br>
  <input type="radio" name="recommend" value="no"> NO<br>
  </div>
</form>