@charset "UTF-8";
body {
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #424242;
  margin: 0;
  background: #fdfefe; }

a {
  color: #00b7ff;
  text-decoration: none; }

h1 {
  font-weight: 700; }

h3 {
  font-weight: 800; }

/* Blue Colors */
/* MENU */
.navbar {
  position: fixed;
  width: 100%; }

nav {
  background: #26c6da;
  z-index: 5;
  color: #fff; }
  nav .navbar-brand {
    letter-spacing: 2px;
    font-size: 1.5em;
    font-weight: 700; }
  nav i.fa {
    font-size: 1.5em; }
  nav .nabvar-collapse {
    justify-content: flex-end; }
  nav .navbar-toggler-icon {
    color: #fff; }
  nav .nav-link {
    padding-left: 1em; }
  nav a {
    color: #fff; }

/* HERO UNIT */
.welcome {
  padding: 120px 0 30px 0; }

.flexy {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .flexy .hero {
    max-width: 600px;
    color: #abb2b9; }
  .flexy .hero-img img {
    max-width: 400px;
    margin: 0 50px; }

/* PROFILE */
.profile-info {
  background: #f8feff;
  margin-bottom: 50px;
  padding-top: 70px; }
  .profile-info .container {
    padding: 40px; }
    .profile-info .container .flexy {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      margin-top: 40px; }
      .profile-info .container .flexy .personal-info {
        max-width: 650px; }
      .profile-info .container .flexy .avatar {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .profile-info .container .flexy .avatar img {
          width: 200px;
          height: 200px;
          border-radius: 50%; }
        .profile-info .container .flexy .avatar a {
          margin-top: 70px; }

/* Public */
.public {
  padding: 120px 50px;
  text-align: center; }
  .public .avatar2 {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .public img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 30px; }

/* Services */
.services {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .services .card {
    min-width: 260px;
    margin-top: 30px; }
    .services .card .card-header {
      background: #26c6da;
      cursor: pointer; }
      .services .card .card-header a {
        text-decoration: none;
        color: white; }
      .services .card .card-header h5 {
        margin: 4px 0; }
    .services .card .card-header:hover, .services .card .card-header:active {
      background: gray;
      color: white; }

.p-services {
  max-width: 500px;
  margin: 40px auto; }

.img-services {
  width: 150px;
  margin: 10px auto; }
  .img-services img {
    width: 150px;
    opacity: 0.3; }

.btn-services {
  display: block;
  width: 200px;
  margin: 30px auto; }

/*FORMULARIOS*/
/*signup*/
.form-h2 {
  text-align: center;
  padding: 140px 0 20px 0; }

.form-p {
  text-align: center; }

form {
  background: #e0f7fa;
  max-width: 50%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px; }
  form .form-group {
    max-width: 100%; }
  form .form-check {
    margin: 30px 0 20px; }
  form .paragraph {
    margin-top: 2px; }
  form .smalltext {
    font-size: .7em;
    text-align: right; }
  form .but {
    background: #26c6da;
    color: #FFF;
    border: 0px;
    margin-top: 35px;
    cursor: pointer; }
  form .but:hover {
    border-radius: 20px;
    background: gray;
    color: #FFF; }

.pedirservices {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .pedirservices .card {
    width: 40%; }
    .pedirservices .card .card-header {
      background: #26c6da;
      cursor: pointer; }
      .pedirservices .card .card-header a {
        text-decoration: none;
        color: white; }
      .pedirservices .card .card-header h3,
      .pedirservices .card .card-header h5 {
        text-align: center;
        margin: 3px; }
    .pedirservices .card .card-header:hover {
      background: gray;
      color: white; }
    .pedirservices .card .cleaner-list {
      max-width: 100%; }

.rate-form {
  background: #FFF; }

/* EDIT */
.edit-container {
  padding: 100px 0; }
  .edit-container .photo {
    margin-top: 30px; }

/* ABOUT */
.top-cont {
  padding: 120px 0; }

/* FOOTER */
footer {
  margin-top: 50px;
  padding: 5px 20px;
  background: #424242;
  text-align: right;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: .8em;
  height: 40px; }
  footer p {
    margin: 0; }

/* Stars Rating */
legend {
  margin: 0; }

.check {
  display: flex; }
  .check .radio-btn {
    padding-right: 30px; }

fieldset.rating {
  margin-bottom: 20px; }

.rating {
  --star-size: 3;
  /* use CSS variables to calculate dependent dimensions later */
  padding: 0;
  /* to prevent flicker when mousing over padding */
  border: none;
  /* to prevent flicker when mousing over border */
  unicode-bidi: bidi-override;
  direction: rtl;
  /* for CSS-only style change on hover */
  text-align: left;
  /* revert the RTL direction */
  user-select: none;
  /* disable mouse/touch selection */
  font-size: 3em;
  /* fallback - IE doesn't support CSS variables */
  font-size: calc( var(--star-size) * 1em);
  /* because `var(--star-size)em` would be too good to be true */
  cursor: pointer;
  /* disable touch feedback on cursor: pointer - http://stackoverflow.com/q/25704650/1269037 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  margin-bottom: 1em; }

/* the stars */
.rating > label {
  display: inline-block;
  position: relative;
  font-size: 0.7em;
  width: 1.1em;
  /* magic number to overlap the radio buttons on top of the stars */
  width: calc(var(--star-size) / 3 * 1.1em);
  color: #f2f3f4; }

.rating > *:hover,
.rating > *:hover ~ label,
.rating:not(:hover) > input:checked ~ label {
  color: transparent;
  /* reveal the contour/white star from the HTML markup */
  cursor: inherit;
  /* avoid a cursor transition from arrow/pointer to text selection */ }

.rating > legend:hover {
  opacity: 1;
  color: #424242; }

.rating > *:hover ~ label:before,
.rating:not(:hover) > input:checked ~ label:before {
  content: "★";
  position: absolute;
  left: 0;
  color: gold; }

.rating > input {
  position: relative;
  transform: scale(3);
  /* make the radio buttons big; they don't inherit font-size */
  transform: scale(var(--star-size));
  /* the magic numbers below correlate with the font-size */
  top: -0.5em;
  /* margin-top doesn't work */
  top: calc(var(--star-size) / 6 * -1em);
  margin-left: -2.5em;
  /* overlap the radio buttons exactly under the stars */
  margin-left: calc(var(--star-size) / 6 * -5em);
  z-index: 2;
  /* bring the button above the stars so it captures touches/clicks */
  opacity: 0;
  /* comment to see where the radio buttons are */
  font-size: initial;
  /* reset to default */ }

form.amp-form-submit-error [submit-error] {
  color: red; }

/** medias **/
@media only screen and (max-width: 969px) {
  .hero-img img {
    width: 330px; }
  .container.flexy {
    flex-direction: column; }
    .container.flexy h2 {
      text-align: center; } }

@media only screen and (max-width: 769px) {
  .pedirservices .card {
    width: 80%;
    margin-bottom: 30px; } }

@media only screen and (max-width: 771px) {
  .profile-info .container .flexy {
    flex-direction: column-reverse; }
    .profile-info .container .flexy h2 {
      text-align: center; }
    .profile-info .container .flexy .avatar img {
      width: 120px;
      height: 120px; }
    .profile-info .container .flexy .avatar a {
      margin: 30px 0 50px 0; } }

/*# sourceMappingURL=style.css.map */