<h2> TOC'leaner {{theCleaner.name}}</h2>

<p>
  Precio:
  <b> {{ theCleaner.fee }}€ </b>
</p>


<h3>
  Contrata servicio con
  <i> {{ theCleaner.name }} </i>
</h3>

<form action="/scheduleService" method="post">
  <div>
    <label for="service-date-input">
      Fecha del servicio:
    </label>
    <input type="date" name="serviceDate" id="service-date-input">
  </div>

  <input type="hidden" name="cleanerId" value="{{ theCleaner._id }}">

  <button>Contrata</button>
</form>


<a href="/cleaners">
  Find Another Launderer
</a>