<h2>Encuentra tu TOC'leaner</h2>

<ul>
  {{#each cleaners}}
    <li>
      <h3> {{ this.username }} </h3>
      <p> Precio: {{ this.fee }}€</p>

      <a href="/scheduleService/{{ this._id }}">
        Contrata servicio
      </a>
    </li>
  {{/each}}
</ul>

<a href="/profile">
  Vuelve a tu perfil
</a>
